<main>
  <div class="container">
    <div class="one">
      <div class="jeremy">
        <div class="photo">
          <img src="assets/images/image-jeremy.png" alt="Jeremy">
        </div>
        <div class="info">
          <p>Report for</p>
          <h1>Jeremy Robson</h1>
        </div>
      </div>
      <div class="time">
        <p class="time-frame" [ngClass]="{'active': selected === 1}" (click)="onDaily()">Daily</p>
        <p class="time-frame" [ngClass]="{'active': selected === 2}" (click)="onWeekly()">Weekly</p>
        <p class="time-frame" [ngClass]="{'active': selected === 3}" (click)="onMonthly()">Monthly</p>
      </div>
    </div>
    <div *ngFor="let d of data; let i = index" class="two" [ngStyle]="{'background-color': colors[i]}">
      <div class="icon" [ngStyle]="{'background-image': icons[i]}"></div>
      <div class="stats">
        <div class="activity">
          <p>{{d.title}}</p>
          <img src="assets/images/icon-ellipsis.svg" alt="title">
        </div>
        <div class="hours">
          <h1>{{d.current}}hrs</h1>
          <span>Last {{time}} - {{d.previous}}hrs</span>
        </div>
      </div>
    </div>
  </div>
</main>
